/* globales */
body{
    background: #f2f3f4;
}
main{
    margin-top: 10rem;
}
/* globales */

/******************************/
/************HEADER************/
/******************************/
.navbar-top {
    background: var(--primary);
    border-bottom: 1px solid var(--primary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all .3s ease 0s;
}

.navbar-top .navbar-brand img {
    width: 10rem;
    transition: all .3s ease 0s;
}

.navbar-top .navbar-nav li.li-btn {
    margin-top: 1rem;
}

.navbar-top .navbar-nav li:not(.li-btn) a {
    padding: 9px 0;
}

.navbar-top .navbar-nav li a {
    color: silver;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
}

.navbar-top .navbar-nav li a.active {
    color: white;
}

.btn-navbar-top {
    background: var(--primary-light);
}

.navbar-top .navbar-toggler:focus {
    box-shadow: none;
}

li {
    text-align: center;
}

.btn-navbar-top {
    margin: 0 auto;
}

@media (min-width: 992px) {
    .navbar-top .navbar-nav li.li-btn {
        margin-top: 0;
    }

    .navbar-top .navbar-nav li {
        margin-right: 1rem;
    }

    .navbar-top .navbar-nav li:last-child {
        margin-right: 0;
    }

    .navbar-top .navbar-nav li:not(.li-btn) a {
        padding: .5rem;
    }
}

/******************************/
/************HEADER************/
/******************************/



/******************************/
/********SIDEBAR FILTER********/
/******************************/
.container-filter{
    background: white;
    padding: 1.2rem;
    border-radius: .5rem;
    font-family: var(--font-main);
    margin-bottom: 3rem;
}
.container-filter > div{
    margin-bottom: 2rem;
}
.container-filter > div:last-child{
    margin-bottom: 0;
    margin-top: 1.7rem;
}
.container-filter > div > label{
    font-size: 1.4rem;
    margin-bottom: .7rem;
}
.form-select:focus{
    box-shadow: none;
    border: 1px solid var(--primary-light);
}
.form-check-input:focus{
    box-shadow: none;
    border-color: var(--primary-light)
}
.form-check-input:checked{
    background-color: var(--primary);
    border-color: var(--primary-light)

}
.form-check label{
    font-size: 1.2rem;
}
.form-search > div{
    text-align: center;
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.form-search > div input{
    height: 3rem;
    font-size: 1.3rem;
    font-family: var(--font-main);
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-search > div input.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid var(--primary-light);
}
.form-search > button {
    background: var(--third);
    color: var(--fourth);
    padding: .5rem 1rem;
    display: block;
    margin: 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-check:focus + .btn, .btn:focus{
    /* border: none; */
    box-shadow: none;
}
/******************************/
/********SIDEBAR FILTER********/
/******************************/


/******************************/
/*********PUBLICATIONS*********/
/******************************/
a{
    text-decoration: none;
}
.container-blog{
    min-height: 120px;
    background: white;
    width: 100%;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom: 3px solid var(--fourth);
    padding: 1rem;
    margin-bottom: 1.2rem;
}
.container-blog > figure{
    height: 250px;
    background-image: url('../img/banner-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-blog > div h3{
    font-size: 1.4rem;
    font-family: var(--font-main);
    color: var(--black-light);
}
.pagination nav{
    margin: 0 auto;
}
.page-link:focus{
    box-shadow: none;
}
.page-link{
    color: var(--primary);
}
.page-link:hover{
    color: var(--primary);
    background-color: rgba(100,100,100, .1);
}
.page-item.active .page-link{
    background-color: var(--primary);
    border-color: var(--primary);
}
.modal-title{
    font-family: var(--font-heading);
    font-size: 1.5rem;
    color: var(--fourth);
}
@media (min-width: 576px){
    .container-blog > figure{
        height: 180px;
    }
}
@media (min-width: 768px){
    .container-publications{
        min-height: 50rem;
    }
}
/******************************/
/*********PUBLICATIONS*********/
/******************************/

